/* 
Write your CSS here
 */
#task1p1{
    color: blue;
    background-color: gold;
    text-decoration: underline;
}

#task1p2{
    color: purple;
    font-weight: bold;
    size: 25px;
    border-color: orange;
    border-width:5px;
    border-style: solid;
}

#task1p3{
    width: 50%;
    height: 200px;
    background-color: gray;
    border-color: black;
    border-width:5px;
    border-style: solid;
}
#task1p3 p{
    color: white;
}

#task1p4{
    background-color: black;
    border-color: lightgreen;
    border-width:5px;
    border-style: solid;
    font-size: 20px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.task2p1{
    color: lightgreen;
}

#task2p2{
    background-color: beige;
    font-style: italic;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#makeBulletsDisappear{
    list-style-type: none;
}

#task4{
    color:blue;
}
#task4:visited{
    color: black;
}
#task4:hover{
    color: purple;
}
#task4:active{
    color:hotpink;
}