/* 
Write your CSS here
 */
h1{
    color: blue;
    background-color: gold;
    text-decoration: underline;
}

h2{
    color: purple;
    font-weight: bold;
    size: 25px;
    border-color: orange;
    border-style: solid;
}

#task1p3{
    width: 50%;
    height: 200px;
    background-color: gray;
    border-color: black;
    border-style: solid;
}
#task1p3 p{
    color: white;
}

#task1p4{
    background-color: black;
    border-color: lightgreen;
    border-style: solid;
    font-size: 20px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.task2p1{
    color: lightgreen;
}

#task2p2{
    background-color: beige;
    font-style: italic;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

#task4{
    color:blue;
}
#task4:visited{
    color: black;
}
#task4:hover{
    color: purple;
}
#task4:active{
    color:hotpink;
}

#this-one{
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    color:gainsboro;
    background-color: black;
  }
  
